
h1 {
    font-size: 48px;
    text-decoration: underline;
    color: blue; 
}

h2 {
    font-size: 48px;
    text-decoration: underline;
}

li {
    font-family: monospace;
}

p {
    color: black;
    font-weight: 800;
    text-shadow: 5px 5px 4px black; /* Fixed the syntax */
}

.orange_text {
    color: orange;
   
}

.small_cap_letter {
    font-variant: small-caps;
    padding: 5px;
    margin-top: 100px;
}

.large_text {
    font-size: 48px;
}

.doc_header {
    width: 100%;
    border: 2px solid black;
}

.body {
    border: 2px solid black;
    color: crimson;
}

.heavy_border {
    border: 5px dashed black;
}
